<template>
  <div
    class="flex items-center justify-between bg-gray-300 dark:bg-gray-700 pr-4"
  >
    <ul class="header__navigation">
      <li class="header__navigation-item">
        <router-link
          to="/"
          class="header__navigation-item-link dark:text-white"
        >
          Home
        </router-link>
      </li>
      <li class="header__navigation-item">
        <router-link
          to="/meals"
          class="header__navigation-item-link dark:text-white"
        >
          Carbonara Meals Calculator
        </router-link>
      </li>
      <li class="header__navigation-item">
        <router-link
          to="/restaurants"
          class="header__navigation-item-link dark:text-white"
        >
          Our Restaurants
        </router-link>
      </li>
    </ul>
    <color-mode-switch class="my-auto"></color-mode-switch>
  </div>
</template>

<script>
export default {
  name: 'Header',
}
</script>

<style lang="scss">
@import './Header.scss';
</style>
