<template>
  <div class="store-list flex flex-col gap-4 items-center">
    <p class="text-center">
      Here you can find all of our restaurants. We have
      <strong>{{ storesCount }}</strong> stores right now
      <span v-if="filter">
        , and <strong>{{ filteredCount }}</strong> results
      </span>
    </p>
    <div class="flex flex-wrap items-stretch w-full relative max-w-sm mx-auto">
      <div class="flex -mr-px">
        <span
          class="
            flex
            items-center
            leading-normal
            bg-grey-lighter
            rounded rounded-r-none
            border border-r-0 border-grey-light
            px-3
            whitespace-no-wrap
            text-grey-dark text-sm
          "
          >Filter</span
        >
      </div>
      <input
        v-model="filter"
        type="text"
        class="
          flex-shrink flex-grow flex-auto
          leading-normal
          w-px
          border
          h-10
          border-grey-light
          rounded rounded-l-none
          px-3
          relative
          focus:border-blue
          focus:shadow
          dark:bg-gray-700
          dark:text-white
        "
        placeholder="Stores name"
      />
    </div>

    <jw-pagination
      class="bg-gray-300 rounded-sm shadow-sm dark:bg-gray-700 dark:text-white"
      :items="filteredStores"
      @changePage="onChangePage"
    ></jw-pagination>
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-4">
      <Store
        v-for="store in pageOfItems"
        :key="store.id"
        class="store-list__item"
        :title="store.name"
        :photo="store.image"
        :location="store.location"
      />
    </div>
  </div>
</template>

<script>
import JwPagination from 'jw-vue-pagination'
import Store from '@/components/Store/Store'
import _ from 'lodash'

export default {
  name: 'StoreList',
  components: {
    Store,
    JwPagination,
  },
  props: {
    stores: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      filter: '',
      pageOfItems: [],
    }
  },
  computed: {
    storesCount() {
      return _.size(this.stores)
    },
    filteredCount() {
      return _.size(this.filteredStores)
    },
    filteredStores() {
      const stores = this.stores.filter((store) =>
        store.name.includes(this.filter)
      )
      return stores
    },
  },
  methods: {
    onChangePage(pageOfItems) {
      this.pageOfItems = this.mapStoresWithImages(pageOfItems)
    },
    mapStoresWithImages(list) {
      return _.map(list, function (store) {
        store.image = 'https://via.placeholder.com/300?text=' + store.name

        return store
      })
    },
  },
}
</script>

<style lang="scss">
@import './StoreList.scss';
</style>
