<template>
  <div>
    <select
      v-model="$colorMode.preference"
      class="p-2 dark:bg-gray-600 dark:text-gray-100"
    >
      <option value="system">System</option>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
  </div>
</template>
