/* eslint-disable vue/no-v-html */
<template>
  <div class="page page__stores">
    <div class="mx-auto overflow-x-auto">
      <div class="bg-white dark:bg-gray-700 shadow-md rounded my-6">
        <table class="min-w-max w-full table-auto">
          <thead>
            <tr
              class="
                bg-gray-200
                text-gray-600
                dark:bg-gray-600
                dark:text-white
                uppercase
                text-sm
                leading-normal
              "
            >
              <th class="py-3 px-6 text-left">Ingredient</th>
              <th class="py-3 px-6 text-left">Quantity</th>
              <th class="py-3 px-6 text-left">Your submition</th>
            </tr>
          </thead>
          <tbody class="text-gray-600 text-sm font-light dark:text-white">
            <tr
              class="
                border-b border-gray-200
                hover:bg-gray-100
                dark:hover:bg-gray-800
              "
            >
              <td colspan="3" class="text-center text-lg">
                <p v-if="mealsCount > 0">
                  You can make {{ mealsCount }} Meals 😋
                </p>
                <p v-else>👩‍🍳 Sorry! you need more ingredients</p>
              </td>
            </tr>
            <tr
              v-for="(val, key) in secretIngredients"
              :key="key"
              class="
                border-b border-gray-200
                hover:bg-gray-100
                dark:hover:bg-gray-800
              "
            >
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <span class="font-medium">{{ key }}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <span class="font-medium">{{ val }}</span>
                </div>
              </td>
              <td class="py-3 px-6 text-left whitespace-nowrap">
                <div class="flex items-center">
                  <span class="font-medium">{{ $route.query[key] }}</span>
                </div>
              </td>
            </tr>
            <tr>
              <td class="py-3 px-6 text-left whitespace-nowrap" colspan="3">
                <div class="flex flex-col items-center">
                  <span class="font-medium">Today's joke</span>
                  <span
                    class="font-bold"
                    v-html="todayJoke.replaceAll('\r\n', '<br>')"
                  ></span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="pages__stores-list">
      <Banner
        :background-media="{
          type: 'image',
          src: 'https://via.placeholder.com/300?text=Restaurent',
        }"
        text="Restaurent"
      />
    </div>
  </div>
</template>

<script>
import Meals from '@/pages/meals'

export default {
  name: 'SecretFormula',
  data() {
    return {
      todayJoke: 'Fetching ⌛',
    }
  },
  computed: {
    secretIngredients() {
      const ingredients = []
      for (const [key, value] of Object.entries(
        Meals.data().secretIngredients
      )) {
        ingredients.push(value + ' x ' + key)
      }
      return Meals.data().secretIngredients
    },

    mealsCount() {
      return this.$route.query.meals
    },

    isLocalJokeExistAndUpToDate() {
      return (
        localStorage.getItem('joke_text') === null &&
        localStorage.getItem('joke_date') === new Date().toLocaleDateString()
      )
    },
  },
  mounted() {
    this.getDailyJoke()
  },
  methods: {
    saveJoke() {
      localStorage.setItem('joke_text', this.todayJoke)
      localStorage.setItem('joke_date', new Date().toLocaleDateString())
    },

    async fetchDailyJoke() {
      const data = await this.$axios.$get(
        'https://api.jokes.one/jod?category=knock-knock'
      )
      this.todayJoke = data?.contents?.jokes[0]?.joke?.text

      this.saveJoke()
    },

    getDailyJoke() {
      // check if we have an up to date joke on our localstorage
      if (this.isLocalJokeExistAndUpToDate) {
        this.todayJoke = localStorage.getItem('joke_text')
        return
      }

      // other wise fetch from api
      this.fetchDailyJoke()
    },
  },
}
</script>
