<template>
  <div class="recipe-form">
    <p>
      Introduce below the quantity for each ingredient you have and we will
      calculate how many Pasta Carbonara meals you can cook!
    </p>
    <form
      ref="form"
      class="recipe-form__form"
      action="/secret-formula"
      @submit.prevent="calculate"
    >
      <input v-model="mealsCount" type="hidden" name="meals" />
      <label for="recipe-eggs">Eggs</label>
      <input
        id="recipe-eggs"
        v-model="form.eggs"
        class="recipe-form__form-input dark:bg-gray-700 dark:text-white"
        type="number"
        name="eggs"
      />
      <label for="recipe-pasta">Pasta</label>
      <input
        id="recipe-pasta"
        v-model="form.pasta"
        class="recipe-form__form-input dark:bg-gray-700 dark:text-white"
        type="number"
        name="pasta"
      />
      <label for="recipe-butter">Butter</label>
      <input
        id="recipe-butter"
        v-model="form.butter"
        class="recipe-form__form-input dark:bg-gray-700 dark:text-white"
        type="number"
        name="butter"
      />
      <label for="recipe-milk">Milk</label>
      <input
        id="recipe-milk"
        v-model="form.milk"
        class="recipe-form__form-input dark:bg-gray-700 dark:text-white"
        type="number"
        name="milk"
      />
      <label for="recipe-oil">Oil</label>
      <input
        id="recipe-oil"
        v-model="form.oil"
        class="recipe-form__form-input dark:bg-gray-700 dark:text-white"
        type="number"
        name="oil"
      />
      <label for="recipe-bacon">Bacon</label>
      <input
        id="recipe-bacon"
        v-model="form.bacon"
        class="recipe-form__form-input dark:bg-gray-700 dark:text-white"
        type="number"
        name="bacon"
      />
      <button
        type="submit"
        class="px-2 py-4 rounded-md bg-gray-300 dark:bg-gray-700"
      >
        Calculate
      </button>
    </form>
  </div>
</template>
<script>
export default {
  name: 'RecipeForm',
  props: {
    ingredients: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      form: {
        eggs: 0,
        pasta: 0,
        butter: 0,
        milk: 0,
        oil: 0,
        bacon: 0,
      },
      mealsCount: 0,
    }
  },
  methods: {
    calculate() {
      const counts = []
      for (const [key, value] of Object.entries(this.form)) {
        counts.push(Math.floor(value / this.ingredients[key]))
      }
      this.mealsCount = Math.min(...counts)
      this.$refs.form.submit()
    },
  },
}
</script>

<style lang="scss">
@import './RecipeForm.scss';
</style>
